body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
  @include media-query($on-laptop) {
    margin-left: $spacing-unit / 2;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  .headerlink {
    &:before {
      content: '#';
      color: $brand-color;
      margin-right: 10px;
      display: inline-block;
    }
  }
}

a {
  color: $brand-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }
}

.icon {
  display: inline-table;
  line-height: 1;
  margin-right: 6px;
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    path {
      fill: $grey-color;
    }
  }
}

*[hidden] {
  display: none;
}
